<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Mollies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="assets/img/mollies.png" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Habitat</h2>
      <p class="symptoms">
        - Molly fish prefer to live in shallow surface waters.</p>
            <p class="treatments">- In the wild, they are usually found in loosely vegetated coastal
              streams.</p>
            <p class="treatments">- However, these fish are known to do well in lakes, estuaries, deltas, swamps, ponds, marshes and even in
              ephemeral places like roadside ditches.</p>
            <p class="treatments">- They prefer to stay under floating vegetation or near structures to stay out
              of view of predators.</p>
            <p class="treatments">- Ideally, they like water with a pH range of between 7.5 and 8.5 and a temperature of between
              64 and 82 °F.</p>


    </ion-row>





    <ion-row>
      <h2 class="tajuk1">Feeding</h2>
    </ion-row>
      <p class="treatments">
       Molly fish are technically omnivores because they not only consume plant materials but are also known to consume: </p>
         <p class="treatments">- Crustaceans.</p>
         <p class="treatments">- Insectes.</p>
         <p class="treatments">- Worms.</p>
         <ion-row>
         <p class="treatments">2) These fish are practically herbivores and consume: </p>
        </ion-row>
         <p class="treatments">- algae.</p>
         <p class="treatments">- Phytoplankton.</p>
         <p class="treatments">- other plant materials.</p>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
