<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Chilodonella</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/img/chilodonella.jfif" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Symptoms</h2>
    </ion-row>
      <p class="symptoms">
        - Dulling of the colours due to excessive slime, frying of the fins, weakness, gill damage.
      </p>
      <p class="treatments">- This disease causes a blue white cloudiness on the skin and attacks the gills.</p>
      <p class="treatments">- Later the
        skin may be broken down and the gills destroyed.</p>
      <p class="treatments">- The fish may behave as if they have irritations.</p>
    



    <ion-row>
      <h2 class="tajuk1">Treatment</h2>
      <p class="treatments">
        - Acriflaving (trypaflaving) may be used at 1% solution (5 ml per litre).
      </p>
      <p class="treatments">- As acriflavine can sterilize fish,
        the water should be gradually changed after a cure has been effected.</p>
      <p class="treatments">- It also helps to raise the temperature
        to about 80 °F.</p>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
