.ion-text-center {
    --ion-background-color:  rgb(60, 0, 88);
    --ion-text-color: rgb(255, 255, 255);
  }

ion-content{
  --background: rgb(181, 174, 184);
}

.card {
  background-color: black;
}

  .animals-color {
    color: bisque;
}

.tajuk1 {
  text-align: center;
  font-weight:bold;
  font-size: 12;
  color:  rgb(255, 255, 255);
}

  
.tajuk2 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk3 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk4 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk5 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk6 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk7 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk8 {
  text-align: center;
  font-weight:bold;
  color: rgb(255, 255, 255);
}




.card1-1 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
}

.card1-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
 
  
}

.gold1 {
  text-align: center;
  color:  rgb(0, 0, 0);
}






.card2-1 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
}

.card2-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  
}

.gold2 {
  text-align: center;
  color:  rgb(0, 0, 0);
}







.card3-1 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
}

.card3-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  
}

.gold3 {
  text-align: center;
  color:  rgb(0, 0, 0);
}








.card4-1 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
}

.card4-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  
}

.gold4 {
  text-align: center;
  color:  rgb(0, 0, 0);
}







.card5-1 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
}

.card5-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  
}

.gold5 {
  text-align: center;
  color:  rgb(0, 0, 0);
}