<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Goldfish</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="background"></div>
  <div>
  <ion-grid>
    <ion-row>
      <img src="assets/img/goldfish.png" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Habitat</h2>
      <p class="symptoms">
        - In the wild, goldfish can be found in slow-moving, freshwater bodies of water.</p>
      <p class="treatments">- As with their close relative the
        carp, they thrive in slightly murky water.</p>
      <p class="treatments">- In captivity, an aquarium with live plants and a dirt bottom is ideal.</p>
      <p class="treatments">- Bi-weekly water changes are a good idea as a goldfish tank is hard to keep clean.</p>
    </ion-row>






    <ion-row>
      <h2 class="tajuk1">Feeding</h2>
    </ion-row>
      <p class="treatments">
        1) In captivity, goldfish are commonly fed:
      </p>
      <p class="treatments">-  dried flake.</p>
      <p class="treatments">-  pellet food.</p>
      <ion-row>
      <p class="treatments">2) Good diet supplements include:</p>
    </ion-row>
      <p class="treatments">-  freeze dried Tubifex
        worms.</p>
      <p class="treatments">- mosquito larva.</p>
      <p class="treatments">- bloodworms.</p>
      <p class="treatments">- daphnia.</p>
      <p class="treatments">- brineshrimp.</p>
      <p class="treatments">- vegetation such as boiled peas and lettuce.</p>
      <p class="treatments"></p>
    
      
    
    <ion-row>

    </ion-row>
  </ion-grid>
</div>
</ion-content>
