<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Costia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/img/costia.jpg" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Symptoms</h2>
    </ion-row>
      <p class="symptoms">
        - Ichthyobodo or Costia parasites are protozoa, a single-celled moving organism of the flagellate category.
      </p>
      <p class="treatments">- Ichthyobodo parasites can proliferate very quickly on the skin of fish.</p>
      <p class="treatments">- In the initial stage the disorder
        is difficult to recognize, because the parasites involved are tiny organisms.</p>
      <p class="treatments">- Milky cloudiness on skin. </p>
    
    <ion-row>
      <h2 class="tajuk1">Treatment</h2>
      <p class="treatments">
        - This is a rare protozoan disease that causes a cloudiness of the skin.
      </p>
      <p class="treatments">- The best
        treatment is with copper at 0.2 mg per liter (0.2 ppm) to be repeated once in
         a few days, if necessary.</p>
      <p class="treatments">- Acriflavine (trypaflavine) may be used instead at 0.2%
        solution (1 ml per litre).</p>
      <p class="treatments">- As acriflavine can possibly sterilize fish, and
        copper can lead to poisoning, the water should be gradually changed after a cure has been effected.</p>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
