.ion-text-center {
    --ion-background-color: rgb(60, 0, 88);
    --ion-text-color:  rgb(255, 255, 255);
  }
  
    
ion-content{
    --background: rgb(181, 174, 184);
  }

  
.tajuk {
    text-align: justify;
    font-weight: bold;
    color: red;
}


.tajuk1 {
    text-align: justify;
    font-weight: bold;
    color: green;
}


.symptoms {
    text-align: justify;
}

.treatments {
    text-align: justify;
}