<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Angelfish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="assets/img/angelfish.png" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Habitat</h2>
      <p class="symptoms">
        - Angelfish are native to a large area of tropical South America, including much of the Amazon River system.</p>
          <p class="treatments">- In their natural habitat, they are found almost exclusively in quiet, slow moving water.</p>
          <p class="treatments">- In the wild they
            prefer dimly lit areas, under overhanging vegetation or among trees that have fallen into the river.</p>
    </ion-row>



    <ion-row>
      <h2 class="tajuk1">Feeding</h2>
    </ion-row>
      <p class="treatments">- Worms.</p>
      <p class="treatments">- Small Crustaceans.</p>
      <p class="treatments">- Aqueon Tropical Flakes.</p>
      <p class="treatments">- Color Flakes.</p>
      <p class="treatments">- Tropical Granules.</p>
      <p class="treatments">- Shrimp Pellets.</p>

    
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
