.ion-text-center {
    --ion-background-color: rgb(60, 0, 88);
    --ion-text-color:  rgb(255, 255, 255);
  }
  
ion-content{
  --background: rgb(181, 174, 184);
}


.card {
  background-color: black;
}


.card1 {
  background-color: black;
}

.tajuk1 {
  text-align: justify;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk2 {
  text-align: justify;
  font-weight:bold;
  color:  rgb(255, 255, 255);
}

  
.tajuk3 {
  text-align: justify;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk4 {
  text-align: justify;
  font-weight:bold;
  color:  rgb(255, 255, 255);
}

  
.tajuk5 {
  text-align: justify;
  font-weight:bold;
  color:  rgb(255, 255, 255);
}

  
.tajuk6 {
  text-align: justify;
  font-weight:bold;
  color: rgb(255, 255, 255);
}

  
.tajuk7 {
  text-align: justify;
  font-weight:bold;
  color:  rgb(255, 255, 255);
}

  
.tajuk8 {
  text-align: justify;
  font-weight:bold;
  color:  rgb(255, 255, 255);
}

.ayat1 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat2 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat3 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat4 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat5 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat6 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat7 {
  text-align: justify;
  color: rgb(181, 174, 184);
}

.ayat8 {
  text-align: justify;
  color: rgb(181, 174, 184);
}