<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Dropsy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/img/dropsyfish.jpg" width="100%" height="100%">
    </ion-row>
   
    <ion-row>
      <h2 class="tajuk">Symptoms</h2>
    </ion-row>
      <p class="symptoms">
        - Bloating of the body, protruding scales.
      </p>
      <p class="treatments">- Dropsy is caused from a bacterial infection (acromonas)
        of the kidneys, causing fluid accumulation or renal failure.</p>
      <p class="treatments">- The fluids in the body build up and
        cause the fish to bloat up and the scales to protrude.</p>
    
    <ion-row>
      <h2 class="tajuk1">Treatment</h2>
      <p class="treatments">
        - An effective treatment is to add an antibiotic to the food.
      </p>
      <p class="treatments">- With flake food, use about 1% of antibiotic
        and carefully mix it.</p>
      <p class="treatments">- Antibiotics in 250 mg capsules if added to 25 grams of flake food will be
        sufficient to treat dozens of fishes.</p>
      <p class="treatments">- A good antibiotic is Chloromycetin (chloramphenicol), or use tetracycline.</p>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
